doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home Test With SASS
    link(rel="stylesheet", href="./style.sass")
  body 
    .container 
      h1.title SASS
      .description.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat incidunt inventore, impedit magnam laborum autem earum, facere ullam aliquam corrupti id laboriosam, repudiandae consectetur porro necessitatibus praesentium vitae? Culpa, laudantium.