$fontSize: 15px;

h1 {
  $shadowColor: #f0f;

  background-color: darkgray;
  border: solid 1px $shadowColor;
  font-size: $fontSize * 4;
  color: darkcyan;
  padding: 1em;
  border-radius: 0.25em;
  box-shadow: 1px 1px 5px $shadowColor;
}
